{% extends "base.html" %}

{% load i18n %}

{% load pagination_tags %}


{% block title %} {% trans 'Notices' %} {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <span> {% trans 'Notices' %}</span>
{% endblock %}

{% block content %}

    {% autopaginate objects 10 as paginated_objects %}

    <h2>{% trans 'Notices' %}</h2>

    {% for object in paginated_objects %}

        <article class="post">

            <a href="{{ object.get_absolute_url }}"><h3 class="inline">{{ object.title }}</h3></a>
            <span class="date meta inline">{{ object.date }}</span>

            <p> {{ object.excerpt }}</p>


        </article>

    {% endfor %}


    {% paginate %}


{% endblock %}