header {
    /*text-align: center;*/
}

.snippet-heading {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: #333;
    margin: 20px 0;
}

.panel .snippet-heading {
    margin-top: 0;
    font-size: 27px;
}

.meta {
    opacity: 0.5;
}

.inline {
    display: inline;
}

.meta.inline {
    padding-left: 10px;
}

.widget ul {
    list-style: none;
}

.widget ul li {
    padding-left: 1em;
}

footer {
    text-align: center;
}

header .row {
    /*width: 100%;*/
    /*text-align: center;*/
}

header img {
    height: 150px !important;
    float: right;
}

.errorlist{
    color: darkred;
}

.page-content{
line-height: 2em;
}
