{% load dbsettings %}
{% load snippets %}
{% load sitetree %}
<footer>
    <div class="column1">
        <img src="{{ 'core.site_settings.logo'|parse }}" alt="">
        {% sitetree_menu from "footer-links" include "trunk,1,level3" %}
    </div>
    <div class="column2">
        {{ 'Contact Us'|snippet }}
    </div>
    <div class="column3">
        <h3>Follow us on</h3>
        <ul>
            <li><a href=""><img src="/static/linksat/images/social_media_facebook.png" alt="">Facebook</a></li>
            <li><a href=""><img src="/static/linksat/images/social_media_twitter.png" alt="">Twitter</a></li>
            <li><a href=""><img src="/static/linksat/images/social_media_google+.png" alt="">Google Plus</a></li>
        </ul>
    </div>
    <div class="ff">Copyrights 2014 LINKSAT technologies. All rights reserved.</div>
</footer>