{% load dbsettings %}
{% load sitetree %}
<footer>
    <div class="column1">
        <img src="{{ 'core.site_settings.logo'|parse }}" alt="">
        {% sitetree_menu from "footer-links" include "trunk,1,level3" %}
    </div>
    <div class="column2">
        <h3>Contact us</h3>
        <h4>Head Office</h4>

        <p>P.O.Box 476 Kampala</p>

        <p>Plot 1411 Lubowa Seguku - Entebee Road</p>

        <p>Tel: +256312371878</p>

        <p>Mob: +256752536815/752536810</p>

        <h4>Southern Sudan</h4>

        <p>+211956026171</p>

        <p>Email: Sales@linksattechnologies.com</p>

        <p>info@linksattechnologies.com</p>

        <p>wbsite: www.linksattehnologies.com</p>
    </div>
    <div class="column3">
        <h3>Fallow us on</h3>
        <ul>
            <li><a href=""><img src="/static/linksat/images/social_media_facebook.png" alt="">Facebook</a></li>
            <li><a href=""><img src="/static/linksat/images/social_media_twitter.png" alt="">Twitter</a></li>
            <li><a href=""><img src="/static/linksat/images/social_media_google+.png" alt="">Google Plus</a></li>
        </ul>
    </div>
    <div class="ff">Copyrights 2014 LINKSAT technologies. All rights reserved.</div>
</footer>