{% extends 'base.html' %}
{% block content %}

    <div class="wrapper wrapper--banner">

        <ul class="bxslider">
            <li><img src="/static/linksat/images/banner_img.png" title="Lorem ipsum, consectetur adipisicing elit. "/>
            </li>
            <li><img src="/static/linksat/images/banner_img.png"
                     title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. "/>
            </li>
            <li><img src="/static/linksat/images/banner_img.png"
                     title="Lorem ipsum dolor sit amet, adipisicing elit. "/></li>
        </ul>
        <div class="content content--banner">
        {% include 'header.html' %}
            <nav id="navR">
                <header>
                    <div id="logo2">
                        <img src="/static/linksat/images/logo.png" alt="">
                    </div>
                    <div id="menuIco">
                        <img src="/static/linksat/images/menu_icon.png" alt="">
                    </div>
                </header>
                <div id="hide">
                    <div id="search2">
                        <form action="">
                            <input type="text">
                        </form>
                    </div>
                    <ul class="head">
                        <li>
                            <a href="#">Product Sales <span class="ifDown">&rsaquo; </span></a>
                            <ul class="sec">
                                <li><a href="#">Desktops</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Desktops</a></li>
                                <li><a href="#">Laptops</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Solutnion & Services <span class="ifDown">&rsaquo; </span></a>
                            <ul class="sec">
                                <li><a href="#">Desktops</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Desktops</a></li>
                                <li><a href="#">Laptops</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Brands</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="wrapper">
        <div class="content content2">
            <h2 class="adi">PRODUCT SALES</h2>

            <div id="adi"><img src="/static/linksat/images/KIPYA_1.png" alt=""></div>
        </div>
        <div class="content">
            <div id="sliderOne">
                <div class="mis-stage">
                    <div class="mis-slide">
                        <img src="/static/linksat/images/desktops.png" alt="">

                        <h3>Desktops</h3>
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/laptops.png" alt="">

                        <h3>Laptops</h3>
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/servers.png" alt="">

                        <h3>Servers</h3>
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/network_products.png" alt="">

                        <h3>Network products</h3>
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/desktops.png" alt="">

                        <h3>Desktops</h3>
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/laptops.png" alt="">

                        <h3>Laptops</h3>
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/servers.png" alt="">

                        <h3>Servers</h3>
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/network_products.png" alt="Lillies">

                        <h3>Network products</h3>
                    </div>
                </div>
            </div>

            <div id="sliderTwo">
                <div class="mis-stage2">
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_dell.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_hp.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_levelOne.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_toshiba.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_dell.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_hp.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_dell.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_hp.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_dell.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/brands_hp.png" alt="">
                    </div>
                </div>
            </div>
            <h2>SOLUTIONS & SERVICES</h2>

            <div id="SS">
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/1.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/2.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/3.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/4.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/5.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/6.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/7.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/8.png" alt=""></a>
                    </figure>
                </article>
                <article>
                    <figure>
                        <a href="#"><img src="/static/linksat/images/9.png" alt=""></a>
                    </figure>
                </article>
            </div>
            <h2>OUR CUSTOMERS</h2>

            <div id="sliderTree">
                <div class="mis-stage3">
                    <div class="mis-slide">
                        <img src="/static/linksat/images/customers1.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/customers2.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/customers3.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/customers4.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/customers5.png" alt="">
                    </div>
                    <div class="mis-slide">
                        <img src="/static/linksat/images/customers6.png" alt="">
                    </div>
                </div>
                <!--<div class="buttonBox">
                  <div class="cBl">
                    <div class="arrowCb"><img src="images/left.png" alt=""></div>
                  </div>
                  <div class="cBr">
                    <div class="arrowCb"><img src="images/right.png" alt=""></div>
                  </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="wrapper wrapper--red">
        <div class="content">
            <img src="/static/linksat/images/KIPYA_aa.png" alt="">

            <h3>Sponsored, developed and kosted by KIPYA Connect Buisness Solutions</h3>

            <p>Modern CMS system at affordable price</p>

            <p>Kipya Connect - Buisness solution for you success!</p>

            <p>www.kipya-connect.com</p>
        </div>
    </div>
{% endblock %}
</body>
</html>
