{% extends 'base.html' %}
{% load filters %}
{% block title %}Contact Us{% endblock %}

{% block extrahead %}
    <style>
        #map_canvas {
            width: 500px;
            height: 400px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapCanvas = document.getElementById('map_canvas');
            var mapOptions = {
                center: new google.maps.LatLng({{ 'core.settings.latitude'|setting }}, {{ 'core.settings.longitude'|setting }}),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}

    {% if message %}
        <h2 class="center">{{ message }}</h2>
    {% endif %}

    <div class="six columns">
        <h3>Address</h3>

        <p><strong>{{ 'core.settings.address'|setting|linebreaks }}</strong></p>

        <p>
            {% if 'core.settings.phone'|setting %}
                Telephone: {{ 'core.settings.phone'|setting }}<br/>
            {% endif %}
            {% if 'core.settings.fax'|setting %}
                Fax: {{ 'core.settings.fax'|setting }}<br/>
            {% endif %}
            {% if 'core.settings.email'|setting %}
                E-mail: <a href="mailto:{{ 'core.settings.email'|setting }}">{{ 'core.settings.email'|setting }}</a>
            {% endif %}
        </p>


        <!-- Contact Form -->


        <h3>Contact Form</h3>

        <!-- Row Layout for forms -->
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Name" name="name"/>
            <input type="text" placeholder="Email" name="email"/>
            <input type="text" placeholder="Subject" name="subject"/>
            <textarea placeholder="Message" name="message"></textarea>
            <input type="submit" value="Submit" class="button success"/>
        </form>

    </div>

    <div class="six columns">
        <h3>Where to find us</h3>

        <div id="map_canvas"></div>
    </div>
{% endblock %}