{% extends 'base.html' %}

{% block content %}

    <div class="twelve columns">


        <div id="container">


            {% for obj in objects %}

                <div class='box photo col2'>
                    <a href="{{ obj.get_absolute_url }}"><img src='{{ obj.get_thumbnail.file.url }}'
                                                              alt="{{ obj.description }}"/></a>
                    <h4><strong>{{ obj.name }}</strong></h4>

                    <p>{{ obj.description }}</p>
                </div>

            {% endfor %}


        </div>

    </div>

{% endblock %}