<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
{% load filters %}

<head>

    <meta charset="utf-8"/>
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>

    <title>{% block title %}{{ 'core.settings.site_name'|setting }}{% endblock %}</title>

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/static/base13/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/static/base13/stylesheets/main.css">
    <link rel="stylesheet" href="/static/base13/stylesheets/app.css">

    <script src="/static/base13/javascripts/modernizr.foundation.js"></script>

    <link rel="stylesheet" href="/static/base13/ligature.css">

    <!-- Google fonts -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'
          rel='stylesheet' type='text/css'/>


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

    {% block extrahead %}{% endblock %}

</head>

<body>

<header>
    <div class="row">
        <div class="three columns">
            <img src="/static/logo.png" height="100">
        </div>
        <div class="nine columns">

            <div class="site-head">
                <h1><a href="/">{{ 'core.settings.site_name'|setting }}</a></h1>

                <h3>{{ 'core.settings.site_slogan'|setting }}</h3>
            </div>

        </div>
        {#        <div class="three columns">#}
        {#            <form>#}
        {#                <input type="text" placeholder="Search..." id="header-search">#}
        {#            </form>#}
        {#        </div>#}

    </div>

</header>


<!-- ######################## Main Menu ######################## -->

<nav>

    <div class="twelve columns header_nav">
        <div class="row">

            <ul id="menu-header" class="nav-bar horizontal">

                <li class=""><a href="/">Home</a></li>

                <li class="has-flyout">
                    <a href="#">About Us</a><a href="#" class="flyout-toggle"></a>
                    <ul class="flyout"><!-- Flyout Menu -->
                        <li class="has-flyout"><a href="/historical-background/">Historical Background</a></li>
                        <li class="has-flyout"><a href="/message-from-chief/">Message from Chief</a></li>
                        <li class="has-flyout"><a href="/academic-programs/">Academic Programs</a></li>
                        <li class="has-flyout"><a href="/teachers-and-staffs/">Teachers and Staffs</a></li>
                    </ul>
                </li>
                <!-- END Flyout Menu -->


                <li class=""><a href="/gallery/">Gallery</a></li>
                <li class=""><a href="/news/">News</a></li>
                <li class=""><a href="/notice/">Notices</a></li>

                <li class=""><a href="/contact-us/">Contact Us</a></li>

            </ul>

            {#            <script type="text/javascript">#}
            {#                //<![CDATA[#}
            {#                $('ul#menu-header').nav - bar();#}
            {#                //]]>#}
            {#            </script>#}

        </div>
    </div>

</nav>


{% block base_container %}
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}


<footer>
    <hr>
    Copyright © 2014 {{ 'core.settings.site_name'|setting }}
</footer>

<!-- ######################## Scripts ######################## -->

<!-- Included JS Files (Compressed) -->
<script src="/static/base13/javascripts/foundation.min.js" type="text/javascript"></script>
<!-- Initialize JS Plugins -->
<script src="/static/base13/javascripts/app.js" type="text/javascript"></script>
</body>
</html>