{% extends "base.html" %}

{% load i18n %}
{#{% load filters %}#}
{#{% load pagination_tags %}#}


{% block title %} News {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <span> {% trans 'News' %}</span>
{% endblock %}

{% block content %}

    {#    {% autopaginate objects 20 as paginated_objects %}#}
    {##}
    {##}
    {#    {% for patron in paginated_objects %}#}
    {#    {% endfor %}#}

    <h2>{% trans 'News' %}</h2>

    {% for object in objects %}

        <article class="blog_post">

            <a href="#"><h3>{{ object.title }}</h3></a> <span class="date meta">{{ object.date }}</span>

            <p> {{ object.content|safe }}</p>


        </article>

    {% endfor %}



    {#    {% paginate %}#}


{% endblock %}